@model List<Call2Collegs.Model.User>

<p>
    @foreach(var u in Model){
        <p>
            <div>@u.Login</div>
            <div>@u.Password</div>
        </p>
        <hr>
    }
</p>

<div>This is partial content:</div>
<input type="button" value="Load partial" id="btnPart" />

<div id="partial" class="part"></div>
